// 768px以上
@mixin pc {
	@media screen and (min-width: ($spvw) * 1px) {
		@content;
	}
}

// 767px以下
@mixin sp {
	@media screen and (max-width: ($spvw) * 1px - 1) {
		@content;
	}
}

// 要素のサイズ固定の時 768px以上
@function rem($arg) {
	$value: $arg;
	@return $value / 10 * 1rem;
}

// 要素のサイズ可変 767px以下
@function vw($arg) {
	$value: 0;
	$value: $arg / $sp-artboard;
	@return $value * 100vw;
}

// font 768px以上
@mixin font-pc($size: 10, $height: 10, $spcing: 0, $weight: 900) {
	// font 768px以上
	@include pc {
		font-size: ($size / 10 * 1rem);
		line-height: ($height / $size);
		letter-spacing: ($spcing / 1000 * 1em);
		font-weight: $weight;
	}
}

// font 767px以下
@mixin font-sp($size: 10, $height: 10, $spcing: 0, $weight: 300) {
	@include sp {
		font-size: calc((#{$size} / #{$sp-artboard}) * 100vw);
		line-height: ($height / $size);
		letter-spacing: ($spcing / 1000 * 1em);
		font-weight: $weight;
	}
}
