$pcvw: 1366;
$spvw: 767;

// アートボードのサイズ
$pc-artboard: 1366;
$sp-artboard: 375;

$base-font: "Gothic StdN";
// $base-font2: "Gothic Std";
$accent-font: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$baseColor: #202360;
$baseColor2: rgba(32, 35, 96, 0.05);
$baseColor3: rgba(32, 35, 96, 0.1);
