.is-bg-base-blue {
	background-color: $baseColor;
}

.is-bg-blue {
	background-color: $baseColor2;
}
.is-bg-blue2 {
	background-color: $baseColor3;
}

.is-text-white {
	color: #fff;
}

.is-bg-white {
	background-color: #fff;
}