.c-search {
	@include pc {
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	@include sp {
		width: vw(180);
		margin-left: auto;
		margin-right: auto;
	}
	border-bottom: solid 1px $baseColor;
	input {
		display: block;
		appearance: none;
		background: transparent;
		border: none;
		flex: 1;
		margin-bottom: rem(10);
		@include sp {
			width: vw(130);
		}
		&:focus {
			outline: none;
		}
	}
}

.c-search-submit {
	appearance: none;
	background: transparent;
	border: none;
	margin-bottom: rem(10);
	img {
		width: rem(14.72);
		object-fit: contain;
		@include sp {
			width: vw(14.72);
		}
	}
}
