<div class="max-inner ta-c">
  <h2 class="c-partner__title mb-83 mb-sp-32">様々な業界のリーディングカンパニー<br class="is-sp">から信頼をいただいています。</h2>
  <div class="c-partner__img01 mb-100 mb-sp-88">
    <%- img("partner-logo01", "パートナーロゴ", "top", "png", true) %>
  </div>
  <p class="c-partner__text mb-54 mb-sp-40">パートナーとの連携で課題解決に向けた<br>最良のサービス／ソリューション<br class="is-sp">を提供します。</p>
  <div class="c-partner__img02">
    <%- img("partner-logo02", "パートナーロゴ", "top", "png", true) %>
  </div>
</div>